# Optional dev/test requirements:
coverage==5.3.1           # [Code coverage measurement for Python](https://github.com/nedbat/coveragepy)
requests-mock==1.8.0      # [Mocked responses for the requests library](https://requests-mock.readthedocs.io)
